@model List<Application.DTO.Folder.FolderDTO>
@foreach (var fld in Model)
{
    <div class="col-lg-3 col-md-6 d-flex">
        <a href="@Url.Action("Folder","File",new { Id = fld.Id })" class="btn-icon-clipboard" style="background-color:@fld.FolderColorName;">
            <div style="font-family:FontAwesome;margin-bottom:5px;">
                <i>@System.Net.WebUtility.HtmlDecode(fld.FolderIconName)</i>
                <span style="font-family:inherit;">@fld.Name</span>
            </div>
            <small>@fld.Username</small>
        </a>
    </div>
}
