@model int
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                </div>
                <div class="col-lg-6 col-5 text-right">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <span class="alert-icon"><i class="ni ni-ambulance"></i></span>
            <span class="alert-text"><strong>Error occured!</strong> Http Error code is @Model .please contact Admin</span>
        </div>
    </div>
</div>
<h1>Error @Model</h1>

